<html>

<head>
    <meta charset="utf-8">
    <title>HP Cloud</title>
    <style>
        .box {
            border: thin solid black;
            margin-bottom: : 5px;
            margin-top: 5px;
        }
    </style>

</head>

<body>

    <!-- Service-I -->
    {% include 'servicei.html' %}

    <!-- Service S -->
    <!-- <div class='box'>
        <h2>Service Status (S)</h2>
        <p>TODO</p>
    </div> -->
    {% include 'services.html' %}

    <!-- Service B -->
    <div class='box'>
        <h2>Service Button (B)</h2>
        <p>
		<form action="" method="POST">
            {% if  services.b %}
                {{ services.b }}
        
            {% endif %}
            
            {% if services.s.playdate is not none %}
			 <input type="submit" value="Play !"/>
            {% else %}
             <p> You have already played the game on {{ services.s.playdate }} ! </p>
             <input type="submit" value="Play !" disabled>
            {% endif %}
            
		</form>
	</p>
    </div>

    <!-- Service P -->
	{% include 'servicep.html' %}
</body>

</html>
