<div class="col-xs-12">
    <div class="well">
    <h2>Service Button (B)</h2>
    <p>
        <form action="" method="POST">
            {% if errors.b %}
              <div class="alert alert-danger" role="alert">
                <p>Service B not available.</p>
              </div>

            {% elif errors.s %}
              <div class="alert alert-danger" role="alert">
                <p>Service B not available because there is a problem with S !</p>
              </div>
            {% else %}
              {% if services.b %}
                <p>{{ services.b.message }}</p>
              {% else %}
                {% if services.s.playdate is none %}
                  <input class="btn btn-primary" type="submit" value="Play !" />
                {% else %}
                  <p> You have already played the game on {{ services.s.playdate }} ! </p>
                  <input class="btn btn-default" type="submit" value="Play !" disabled>
                {% endif %}
              {% endif %}
            {% endif %}
        </form>
    </p>
  </div>
</div>
