<div class="col-xs-12">
    <div class="well">
      <h2>Service Status (S)</h2>
      {% if errors.s %}
        <div class="alert alert-danger" role="alert">
            <p>Service S not currently available.</p>
            <p>Exception caught :</p>
            <p><samp>{{ errors.s }}</samp></p>
        </div>

        
      {% elif services.s.playdate is not none %}
        <p>You already played the game on : {{ services.s.playdate }}</p>
      {% else %}
        <p>You haven't played the game yet !</p>
      {% endif %}
  </div>
</div>
