<div class="col-xs-12">
    <div class="well">
      <h2>Service Status (P)</h2>
      {% if errors.p %}
        <div class="alert alert-danger" role="alert">
            <p>Service P not currently available.</p>
            <p>Exception caught :</p>
            <p><samp>{{ errors.p }}</samp></p>
        </div>
       
      {% elif services.p.imgB64 is not none %}
        <img src="{{ services.p.imgB64 }}"/>
      {% else %}
        <p>You haven't played the game yet !</p>
      {% endif %}
  </div>
</div>
